[submodule "c++/ext/atomic_queue"]
	path = c++/ext/atomic_queue
	url = https://github.com/max0x7ba/atomic_queue.git
[submodule "c++/ext/concurrentqueue"]
	path = c++/ext/concurrentqueue
	url = https://github.com/cameron314/concurrentqueue.git
[submodule "c++/ext/xenium"]
	path = c++/ext/xenium
	url = https://github.com/mpoeter/xenium.git
